@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>ÖDÜNÇ KİTAP LİSTESİ</h2>

<table class="table table-bordered">
    <tr>
        <th>İŞLEM ID</th>
        <th>Kitap ADI</th>
        <th>ÜYE</th>
        <th>PERSONEL</th>
        <th>ALIŞ TARİHİ</th>
        <th>İADE TARİHİ</th>
        <th>İADE AL</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.TBLKİTAP.AD</td>
            <td>@item.TBLUYELER.AD&nbsp; @item.TBLUYELER.SOYAD</td> 
            <td>@item.TBLPERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(item.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(item.IADETARIH).ToString("dd/MM/yyyy")</td>
            @*<td>
                    @Html.ActionLink("Sil", "KitapSil", new { id = item.ID }, new
                    {
                        @class = "btn btn-danger",
                        onclick = "return confirm('Silmek istiyor musunuz')"
                    })
                </td>*@
            <td><a href="/Odunc/Odunciade/@item.ID" class="btn btn-default">Kitabi İade Et</a></td>
        </tr>
    }

</table>
