@model MvcKutuphane.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>YazarEkle</h2>

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Yazar ADI</label>
        @Html.TextBoxFor(y => y.AD,new {@class="form-control"})
        @Html.ValidationMessageFor(y=>y.AD,"",new {style ="color:red"})
    </div>
    <div style="margin-top:15px">
        <label>Yazar SOYADI</label>
        @Html.TextBoxFor(y => y.SOYAD,new {@class="form-control"})
        @Html.ValidationMessageFor(y=>y.SOYAD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar DETAY</label>
        @Html.TextAreaFor(y => y.DETAY,new {@class="form-control"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Yazar Ekle</button>
    </div>
</form>
