@using MvcKutuphane.Models.Entity
@model List<TBLKİTAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitaplar</h2>
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom: 15px; margin-top: 15px;">
        <b>Aranacak Kitabı Giriniz: </b> @Html.TextBox("p")
    <input type="submit" value="Ara" />
    </div>
}
   
<table class="table table-bordered">
    <tr>
        <th>Kitap ID</th>
        <th>Kitap ADI</th>
        <th>Kitap YAZARI</th>
        <th>Kategori</th>
        <th>Basım YILI</th>
        <th>YAYINEVİ</th>
        <th>SAYFA</th>
        <th>Durum</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.YAZAR</td> @*Burası TBLYazardan Çekilecek*@
            <td>@item.KATEGORİ</td>
            <td>@item.BASIMYIL</td>
            <td>@item.YAYINEVİ</td>
            <td>@item.SAYFA</td>
            <td>@item.DURUM</td>
            @*<td>
                    @Html.ActionLink("Sil", "KitapSil", new { id = item.ID }, new
                    {
                        @class = "btn btn-danger",
                        onclick = "return confirm('Silmek istiyor musunuz')"
                    })
                </td>*@
            <td><a href="/Kitap/KitapSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@item.ID" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
    }

</table>
<a href="/Kitap/KitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>